*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
**.egg-info
**.so
diff_rasterization/dist

cameras.json
*.ply
*.mp4
*.pth
*.pt
datasets
wandb

result*
__pycache__/
ORBvoc.txt
torch_scatter-*.whl
